body {
font-family: sans-serif;
}

h1{ 
letter-spacing: 5mm;}
h2{ }
p{text-indent: 2cm; }
p:first-letter{font-size:0.7cm; color:black;}

div.dwa a:hover{color:green; cursor:default;}

table{
}
thead{text-transform:uppercase;}
tfoot{}
tbody{}


ol{list-style-type: upper-roman;}
ol ul{list-style-type: lower-roman;}
ol ol{list-style-type: lower-roman;}
ol ol ul{list-style-type: lower-greek;}

div.dwa{visibility:hidden;}

#usmiech{float:right;}
#kot{float:left;}

